{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Quantity</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Status</th>
            <th scope="col">Customer</th>
            <th scope="col">Product</th>
          </tr>
        </thead>
        <tbody>
            {% for c in data %}
                <tr>
                    <th scope="row">{{c.id}}</th>
                    <td>{{c.quantity}}</td>
                    <td>{{c.ordered_date}}</td>
                    <td>{{c.status}}</td>
                    <td>{{c.customer}}</td>
                    <td>{{c.product}}</td>
                    </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
    <button onclick="window.print()" class="btn btn-primary align-center">Print</button>
 </div>

 {% endblock main-content %}
